<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>
    <footer class="container-fluid text-center" style="position: relative; top: 25px;">
        <p>Nikhil's Store Copyright (C)</p>  
        <form class="form-inline" action="">Get deals:
          <input type="email" class="form-control" size="50" placeholder="Email Address">
          <button type="button" class="btn btn-danger">Sign Up</button>
        </form>
      </footer>
<footer class="page-footer font-small blue" style="position: relative; top: 25px;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> mng.com</a>
    </div>
  </footer>


<%- include('includes/end.ejs') %>